
<style>
    .section-custom-reviews-section {
      position: relative;
      width: 100%;
      max-width: 1440px;
      height: 623px;
      margin: 0 auto;
      background-size: cover;
      background-position: center;
      background: #FFFFFF;

    }
    .image-reviews-section {
      position: relative;
      width: 100%;
      max-width: 1440px;
      height: 573px;
      margin: 0 auto;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px;
    }
  
 
    @media (max-width: 767px) {
        .image-reviews-section {
          background-image: url({{ section.settings.background_image_mobile | image_url}});
        }
      }
    
      @media (min-width: 768px) {
        .image-reviews-section {
          background-image: url({{ section.settings.background_image_desktop | image_url}});
        }
      }

    .ornament-wave {
        position: absolute;
        top: 546px;
        left: 0;
        width: 100%;
        height: 67px;
        overflow: hidden;
        z-index: 2;
      }

      .ornament-wave-one {
        position: absolute;
        top: 524px;
        left: 0;
        width: 100%;
        height: 67px;
        overflow: hidden;
        z-index: 2;
      }
    

      .custom-container {
        position: absolute;
        width: 830px; 
        height: 321px;
        top: 95px;
        left: 305px; 
        gap: 24px; 
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        color: white;
        border: 1px solid #000000;
      }

      .rating-stars-wrapper {
        width: 318.08px;
        height: 34px;
        display: flex;
        gap: 1px;
        border-radius: 100px;
        padding: 8px 14px;
        background-color:#FBE6E7;
        align-items: center;
        justify-content: center;
      }

      
      .star {
        width: 18px;
        height: 18px;
        background-image: url('{{ "star-icon.svg" | image_url }}');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      
      .review-text {
        font-size: 16px;
        max-width: 600px;
        color: {{ section.settings.text_color }};
      }

      .text-box {
        width: 830px;
        height: 263px;
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
      

    
     .heading-box {
          width: 778px;
          height: 154px;
          font-family: 'Agrandir', sans-serif;
          font-weight: 800;
          font-size: 64px;
          line-height: 120%;
          letter-spacing: 0;
          text-align: center;
          color: #FFFFFF;
          display: flex;
          align-items: center;
          justify-content: center;
        }
    
  
        .paragraph-box{
            width: 830;
            height: 22;
            font-family: Agrandir;
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            color: #FFFFFF;

        }


        .buttons-box {
            width: 830px;
            height: 79px;
            padding-top: 24px;
            padding-bottom: 24px;
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
          }


        .primary-button,
        .secondary-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 267px;
        height: 55px;
        padding: 18px 52px;
        gap: 10px;
        border-radius: 94px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        color: white;
        text-align: center;
        white-space: nowrap;
        }

        .primary-button {
        background-color: #39A487;
        }

        .secondary-button {
        background-color: #FBE6E7;
        color: black;
        box-shadow: -4px 6px 0px 0px rgba(0, 0, 0, 0.25);
        }



    </style>


  <section class="section-custom-reviews-section">
    <div class="image-reviews-section" 
        style="background-image: url(
          {% if section.settings.background_image_desktop %}
            {{ section.settings.background_image_desktop | image_url }}
          {% else %}
            {{ 'hero-test.png' | asset_url }}
          {% endif %}
        ); opacity: {{ section.settings.background_overlay_opacity | divided_by: 100.0 }};">
    
   </div>

   

    {% if section.settings.show_bottom_ornament %}
       {% render 'ornament-wave' %}
       {% render 'ornament-wave-one' %}
     {% endif %}

    <div class="custom-container"
    >
      {% for block in section.blocks %}
            <div class="rating-stars-wrapper">
              <div class="stars">
                {% assign star_count = block.settings.stars | plus: 0 %}
                {% for i in (1..star_count) %}
                  <img src="{{ 'star.svg' | asset_url }}" alt="star" class="star-icon" />
                {% endfor %}
              </div>
              <div class="review-text">
                <p>{{ block.settings.text }}</p>
              </div>
            </div>
      {% endfor %}

        
        <div class="text-box">
            
           <div class="heading-box">
            <h1 style="color: {{ section.settings.text_color }};">{{ section.settings.heading | replace: 'Helping you start', 'Helping you start<br>' }}</h1>

           </div>
           <div class="paragraph-box">
             <p>{{ section.settings.text }}</p>
           </div>

           <div class="buttons-box">
            {% render 'primary-button', text: section.settings.primary_button_text, link: section.settings.primary_button_link %}
            {% render 'secondary-button', text: section.settings.secondary_button_text, link: section.settings.secondary_button_link %}
          </div>

        </div>
    </div>


    
  </section>
  
  
  

    
  
  
  
{% schema %}
{
  "name": "Custom Reviews Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "Background Image (Desktop)",
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background Image (Mobile)"
    },
    {
      "type": "range",
      "id": "background_overlay_opacity",
      "label": "Background Overlay Opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 70
    },
    {
      "type": "checkbox",
      "id": "show_bottom_ornament",
      "label": "Show Bottom Ornament",
      "default": false
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Helping you start solids stress free"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "We simplify Starting Solids, helping you prepare nutritious meals and raise happy, healthy eaters—drama-free!"
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#FFFFFF",
    },
      
    {
      "type": "text",
      "id": "primary_button_text",
      "label": "Primary Button Text",
      "default": "Browse library"
    },
    {
      "type": "url",
      "id": "primary_button_link",
      "label": "Primary Button Link"
    },
    {
      "type": "text",
      "id": "secondary_button_text",
      "label": "Secondary Button Text",
      "default": "Shop products"
    },
    {
      "type": "url",
      "id": "secondary_button_link",
      "label": "Secondary Button Link"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "select",
          "id": "stars",
          "label": "Number of Stars",
          "default": "5",
          "options": [
            { "label": "1", "value": "1" },
            { "label": "2", "value": "2" },
            { "label": "3", "value": "3" },
            { "label": "4", "value": "4" },
            { "label": "5", "value": "5" }
          ]
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Review Text",
          "default": "+480 mothers are already using it"
        }
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "Custom Reviews Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
