{{ 'homepage-hero-section.css' | asset_url | stylesheet_tag }}

<style>
        @media (max-width: 767px) {
          .image-reviews-section {
            background-image: url({{ section.settings.background_image_mobile | image_url}});
          }
        }
    
      @media (min-width: 768px) {
        .image-reviews-section {
          background-image: url({{ section.settings.background_image_desktop | image_url}});
        }
      }
</style>


  <section class="section-custom-reviews-section">

    <div class="image-reviews-section" 
        style="background-image: url(
          {% if section.settings.background_image_desktop %}
            {{ section.settings.background_image_desktop | image_url }}
          {% else %}
            {{ 'hero-test.png' | asset_url }}
          {% endif %}
        ); opacity: {{ section.settings.background_overlay_opacity | divided_by: 100.0 }};">
    
   </div>

   

    {% if section.settings.show_bottom_ornament %}
       {% render 'ornament-wave' %}
     {% endif %}

    <div class="custom-container"
    >
      {% for block in section.blocks %}
            <div class="rating-stars-wrapper">
              <div class="stars">
                {% assign star_count = block.settings.stars | plus: 0 %}
                {% for i in (1..star_count) %}
                  <img src="{{ 'star.svg' | asset_url }}" alt="star" class="star-icon" />
                {% endfor %}
              </div>
              <div class="review-text">
                <p>{{ block.settings.text }}</p>
              </div>
            </div>
      {% endfor %}

        
        <div class="text-box">
            
           <div class="heading-box">
            <h1 style="color: {{ section.settings.text_color }};">{{ section.settings.heading | replace: 'Helping you start', 'Helping you start<br>' }}</h1>

           </div>
           <div class="paragraph-box">
             <p>{{ section.settings.text }}</p>
           </div>

           <div class="buttons-box">
            {% render 'primary-button', text: section.settings.primary_button_text, link: section.settings.primary_button_link %}
            {% render 'secondary-button', text: section.settings.secondary_button_text, link: section.settings.secondary_button_link %}
          </div>

        </div>
    </div>


    
  </section>
  
  
  

    
  
  
  
{% schema %}
{
  "name": "Custom Reviews Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "Background Image (Desktop)",
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background Image (Mobile)"
    },
    {
      "type": "range",
      "id": "background_overlay_opacity",
      "label": "Background Overlay Opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 70
    },
    {
      "type": "checkbox",
      "id": "show_bottom_ornament",
      "label": "Show Bottom Ornament",
      "default": false
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Helping you start solids stress free"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "We simplify Starting Solids, helping you prepare nutritious meals and raise happy, healthy eaters—drama-free!"
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#FFFFFF",
    },
      
    {
      "type": "text",
      "id": "primary_button_text",
      "label": "Primary Button Text",
      "default": "Browse library"
    },
    {
      "type": "url",
      "id": "primary_button_link",
      "label": "Primary Button Link"
    },
    {
      "type": "text",
      "id": "secondary_button_text",
      "label": "Secondary Button Text",
      "default": "Shop products"
    },
    {
      "type": "url",
      "id": "secondary_button_link",
      "label": "Secondary Button Link"
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "select",
          "id": "stars",
          "label": "Number of Stars",
          "default": "4",
          "options": [
            { "label": "1", "value": "1" },
            { "label": "2", "value": "2" },
            { "label": "3", "value": "3" },
            { "label": "4", "value": "4" },
            { "label": "5", "value": "5" }
          ]
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Review Text",
          "default": "+480 mothers are already using it"
        }
      ]
    }
  ],
  "max_blocks": 6,
  "presets": [
    {
      "name": "Custom Reviews Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
