{{ 'pricing-plans-section.css' | asset_url | stylesheet_tag }}



<div class="hero-section">
    <img class="hero-background" src="{{ images['hero-background.png'] | image_url }}" alt="hero-background" width="800" height="auto" />
    <div class="content-wrapper">
        {% for block in section.blocks %}
            {% case block.type %}
              {% when 'heading' %}
                <h1>{{ block.settings.title }}</h1>
              {% when 'left_column_text' %}
                <div class="column-box"><p>{{ block.settings.text }}</p></div>
              {% when 'right_column_text' %}
                <div class="column-box"><p>{{ block.settings.text }}</p></div>
            {% endcase %}
          {% endfor %}
    </div>
</div>
  
  

  {% schema %}
  {
    "name": "Pricing Plans",
    "tag": "section",
    "settings": [],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Introduce pricing plans"
          }
        ]
      },
      {
        "type": "left_column_text",
        "name": "Left Column Text",
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": "Left Text",
            "default": "Do you want to make"
          }
        ]
      },
      {
        "type": "right_column_text",
        "name": "Right Column Text",
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": "Right Text",
            "default": "We help you "
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Pricing Plans",
        "blocks": [
          { "type": "heading" },
          { "type": "left_column_text" },
          { "type": "right_column_text" }
        ]
      }
    ]
  }
  {% endschema %}
  