{{ 'pricing-plans-section.css' | asset_url | stylesheet_tag }}



<div class="hero-section-pricing-plans">
  <img class="hero-background" src="{{ images['hero-background.png'] | image_url }}" alt="hero-background" width="800" height="auto" />
  
  <div class="content-wrapper">
    {% for block in section.blocks %}
      {% if block.type == 'heading' %}
        <h1>{{ block.settings.title }}</h1>
      {% endif %}
    {% endfor %}

    <div class="carts-wrapper">
      {% for block in section.blocks %}
        {% if block.type == 'pricing_card' %}
          <div class="cart-box">
            <div class="column-box">
              <!-- Top section -->
              <div class="card-top">
                <div class="card-left">
                  <img src="{{ block.settings.icon | img_url }}" width="40px" alt="Icon" class="card-icon" />
                  <h3>{{ block.settings.title }}</h3>
                  <p>{{ block.settings.description }}</p>
                </div>
                <div class="card-right">
                  <p class="price">{{ block.settings.price }}</p>
                  <p class="period">{{ block.settings.period }}</p>
                </div>
              </div>

              <hr class="card-divider" />

              <div class="card-bottom">
                <p class="bottom-desc">{{ block.settings.bottom_text }}</p>
                <ul class="feature-list">
                  <li><span class="check-mark">✔️ </span>{{ block.settings.feature_1 }}</li>
                  <li><span class="check-mark">✔️ </span>{{ block.settings.feature_2 }}</li>
                  <li><span class="check-mark">✔️ </span>{{ block.settings.feature_3 }}</li>
                  <li><span class="check-mark">✔️ </span>{{ block.settings.feature_4 }}</li>
                </ul>
                {% render 'secondary-button',
                  text: block.settings.button_label,
                  link: block.settings.button_link,
                  bg_color: block.settings.button_color,
                  text_color: block.settings.text_color,
                  class: 'custom-size-button',
                %}
                
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>
</div>

  

{% schema %}
{
  "name": "Pricing Plans",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Join Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "blocks": [
   
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Introduce pricing plans"
        }
      ]
    },
    {
      "type": "column_box",
      "name": "Column Text",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Do you want to make"
        }
      ]
    },
    {
      "type": "pricing_card",
      "name": "Pricing Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Starting Solids Monthly Membership"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Short Description",
          "default": "Our members only program designed to help you make the transition to solid foods stress free."
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price",
          "default": "$9.99"
        },
        {
          "type": "text",
          "id": "period",
          "label": "Billing Period",
          "default": "mo"
        },
        {
          "type": "textarea",
          "id": "bottom_text",
          "label": "Bottom Description",
          "default": "Monthly Membership Subscription- Support for your entire solids journey!"
        },
        {
          "type": "text",
          "id": "feature_1",
          "label": "Feature 1",
          "default": "First Foods Online Course"
        },
        {
          "type": "text",
          "id": "feature_2",
          "label": "Feature 2",
          "default": "First Food Guide & Recipe Book"
        },
        {
          "type": "text",
          "id": "feature_3",
          "label": "Feature 3",
          "default": "Unlock our entire Recipe and Information Library"
        },
        {
          "type": "text",
          "id": "feature_4",
          "label": "Feature 4",
          "default": "Personalized Support – Exclusive forum and facebook groups!"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "default": "Add to cart"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "color",
          "id": "button_color",
          "label": "Button Background Color",
          "default": "#F8E3E4"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Button Text Color",
          "default": "#E49AA3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Pricing Plans",
      "blocks": [
        { "type": "heading" },
        { "type": "column_box" },
        { "type": "pricing_card" }
      ]
    }
  ]
}
{% endschema %}
