{{ 'recipe-article-section.css' | asset_url | stylesheet_tag }}

<section class="recipe-article-wrapper global-padding display-large">
  <div class="recipe-article-header">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'title' %}
            <h1 class="recipe-title">{{ block.settings.text | default: article.title }}</h1>
        {% when 'description' %}
          <p class="recipe-short-description">{{ block.settings.text | default: article.excerpt | truncate: 120 }}</p>
      {% endcase %}
    {% endfor %}
  </div>

  <div class="recipe-main-content">
    <div class="recipe-left">
      {% if article.image %}
        <img class="main-recipe-image" src="{{ article.image | img_url: '800x' }}" alt="{{ article.title }}" width="500px" height="400px" />
      {% else %}
      {% endif %}


      <div class="related-recipes">
        <h3>More Recipes</h3>
        <div class="recipe-card-list">
          {% assign count = 0 %}
          {% for recipe in blogs['recipes-1'].articles %}
            {% if recipe.id != article.id and count < 2 %}
              <div class="recipe-card">
                {% if recipe.image %}
                  <img class="recipe-card-image" src="{{ recipe.image | img_url: '200x200' }}" alt="{{ recipe.title }}"  width="200px" height="200px" />
                {% endif %}
                <div class="recipe-card-content">
                  <h4>{{ recipe.title }}</h4>
                  <a class="recipe-card-button" href="{{ recipe.url }}">Read more</a>
                </div>
              </div>
              {% assign count = count | plus: 1 %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      

      <div class="social-share">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'share_label' %}
              <p class="share-label">{{ block.settings.text }}</p>
          {% endcase %}
        {% endfor %}
        <div class="recipe-icons">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ article.url | absolute_url }}" target="_blank" aria-label="Share on Facebook">
                <img src="{{ images['facebook.svg'] | image_url: width: 24 }}" alt="Facebook" width="24" height="24"> 
            </a>
            <a href="https://twitter.com/intent/tweet?url={{ article.url | absolute_url }}&text={{ article.title }}" target="_blank" aria-label="Share on Twitter">
                <img src="{{ images['twitter.svg'] | image_url: width: 24 }}" alt="Twitter" width="24" height="24">
            </a>
        </div>
      </div>
    </div>

  
    <div class="recipe-right">
        <div class="recipe-article-content-box">
            {% comment %} <div class="recipe-short-description-excerpt">
                <p>{{ block.settings.text | default: article.excerpt }}</p>
            </div> {% endcomment %}
            
            {{ article.content }}
        </div>

      <div class="recipe-navigation">
          <div>
            {% if blog.previous_article %}
              <a href="{{ blog.previous_article.url }}">« Previous recipe</a>
            {% endif %}
          </div>
          
          <div>
            {% if blog.next_article %}
              <a href="{{ blog.next_article.url }}">Next recipe »</a>
            {% endif %}
          </div>
      </div>
    </div>

  </div>

  
  
</section>

{% schema %}
{
  "name": "Recipe Article",
  "settings": [],
  "blocks": [
    {
      "type": "title",
      "name": "Recipe Title",
    },
    {
      "type": "description",
      "name": "Short Description",
    },
    {
      "type": "share_label",
      "name": "Share Label",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Share Text",
          "default": "Share this post:"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Recipe Article",
      "category": "Custom",
      "blocks": [
        { "type": "title" },
        { "type": "description" },
        { "type": "share_label" }
      ]
    }
  ]
}
{% endschema %}

