{{ 'recipe-article-section.css' | asset_url | stylesheet_tag }}

<section class="recipe-article-wrapper global-padding display-large">
  <div class="recipe-article-header">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'title' %}
            <h1 class="recipe-title">{{ block.settings.text | default: article.title }}</h1>
        {% when 'description' %}
          <p class="recipe-short-description">{{ block.settings.text | default: article.excerpt | truncate: 100 }}</p>
      {% endcase %}
    {% endfor %}
  </div>

  <div class="recipe-main-content">
    <div class="recipe-left">
      {% if article.image %}
        <img class="main-recipe-image" src="{{ article.image | img_url: '800x' }}" alt="{{ article.title }}" width="500px" height="400px" />
      {% else %}
      {% endif %}

      <div class="related-recipes">
        {% assign more_recipes = blogs['recipes-1'].articles | where: "id", article.id | limit: 2 %}
        <h3>More Recipes</h3>
        <ul>
          {% for recipe in blogs['recipes-1'].articles limit: 20 %}
            {% if recipe.id != article.id %}
              <li><a href="{{ recipe.url }}">{{ recipe.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>


      <div class="social-share">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'share_label' %}
              <p class="share-label">{{ block.settings.text }}</p>
          {% endcase %}
        {% endfor %}
        <div class="icons">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ article.url | absolute_url }}" target="_blank" aria-label="Share on Facebook">
                <img src="{{ 'facebook-icon.svg' | asset_url }}" alt="Facebook">
              </a>
              <a href="https://twitter.com/intent/tweet?url={{ article.url | absolute_url }}&text={{ article.title }}" target="_blank" aria-label="Share on Twitter">
                <img src="{{ 'twitter-icon.svg' | asset_url }}" alt="Twitter">
              </a>
        </div>
      </div>
    </div>

  
    <div class="recipe-right">
        <div class="recipe-article-content-box">
            {{ article.content }}
        </div>

      <div class="recipe-navigation">
          <div>
            {% if blog.previous_article %}
              <a href="{{ blog.previous_article.url }}">« Previous recipe</a>
            {% endif %}
          </div>
          
          <div>
            {% if blog.next_article %}
              <a href="{{ blog.next_article.url }}">Next recipe »</a>
            {% endif %}
          </div>
      </div>
    </div>

  </div>

  
  
</section>

{% schema %}
{
  "name": "Recipe Article",
  "settings": [],
  "blocks": [
    {
      "type": "title",
      "name": "Recipe Title",
    },
    {
      "type": "description",
      "name": "Short Description",
    },
    {
      "type": "share_label",
      "name": "Share Label",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Share Text",
          "default": "Share this post:"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Recipe Article",
      "category": "Custom",
      "blocks": [
        { "type": "title" },
        { "type": "description" },
        { "type": "share_label" }
      ]
    }
  ]
}
{% endschema %}


  
  {% comment %} {% schema %}
{
    "name": "Recipe Article",
    "settings": [
      {
        "type": "header",
        "content": "Recipe Article"
      }
    ],
    "presets": [
      {
        "name": "Recipe Article",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}  {% endcomment %}
