{{ 'starting-solids-recipes.css' | asset_url | stylesheet_tag }}



<div class="starting-solids-recipes-wrapper">
    <div class="top-content">
        <div class="left">
            {% for block in section.blocks %}
                {% if block.type == 'heading' %}
                    <h2 class="recipes-heading" style="color: {{ block.settings.heading_color }}">{{ block.settings.text }}</h2>
                {% elsif block.type == 'description' %}
                    <p class="recipes-description" style="color: {{ block.settings.description_color }}">{{ block.settings.text_description }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="right">
            <a href="{{ section.settings.browse_link }}" class="browse-button">browse library ></a>
        </div>
    </div>
    <div class="card-container">
        {% assign cards = section.blocks | where: "type", "product_card" | slice: 0, 3 %}
        {% for block in cards %}
          {% assign product = all_products[block.settings.product] %}
          {% if product %}
            <a href="{{ product.url }}" class="card">
              <img 
                src="{{ product.featured_image | image_url: width: small }}" 
                alt="{{ product.title }}" 
                width="400" 
                height="auto"
              />
              <p class="card-text">{{ product.title | truncate: 50 }}</p>
            </a>
          {% endif %}
        {% endfor %}
      </div>      
</div>


{% schema %}
{
  "name": "Starting Solids Recipes",
  "settings": [
    {
        "type": "url",
        "id": "browse_link",
        "label": "Browse Link"
      }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Starting Solids Recipes"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color",
          "default": "#000000"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "settings": [
        {
          "type": "textarea",
          "id": "text_description",
          "label": "Text",
          "default": "Make starting solids a breeze with recipes, resources and personalised support from our team of paediatric dietitian's and feeding therapists"
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description Color",
          "default": "#39A487"
        }
      ]
    }
,
    {
      "type": "product_card",
      "name": "Product Card",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Starting Solids Recipes",
      "category": "Custom"
    }
  ]
}
{% endschema %}
